<div class="jumbotron">
<h1 class="title">Good Job</h1>
<p class="slogan">优质工作，一键申请。
<br>
通过Good Job，希望能让你找到心仪的Good Job。
<br>
</p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">点此申请</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcfqvaw2z6j303k03k0sh.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>北京中关村五道口</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcfqubss1rj303k03kgld.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>hr@goodjob.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcfqvzwplwj303k03kgld.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-65864321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
