<div class="jumbotron">
<h1 class="title">Good Job</h1>
<p class="slogan">Good Job 为你提供高薪优质的工作职位。
<br>
我们希望通过这个网站，能让你找到心仪的工作机会。
<br>
The only way to do great work is to love what you do - Steve jobs
</p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class= "container-fluid">
    <div class="row">
      <div class="col-sm-4">
      <div class="thumbnail">
      <img src="http://3052pp2c52bk3nlmmdz7dwua.wpengine.netdna-cdn.com/wp-content/uploads/2013/10/iStock_000011259011Small-760x450.jpg" alt="search" class = "img-thhumbnail">
      <div class="caption">
        <h3>北京朝阳建外SOHO</h3>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="#" alt="heart" class = "img-thumbnail">
      <div class="caption">
      <h3>010-12344321</h3>
    </div>
    </div>
    </div>
    </div>
  </div>
</section>
